.loginsignup{
    width: 100%;
    height: 80vh;
    background: #fce3fe;
    padding: 50px 50px;
    /* padding-bottom: 100px; */
}

.loginsignup-container{
    width: 380px;
    height: 400px;
    background: white;
    margin: auto;
    padding: 70px 80px;
    
}

.loginsignup-container h1{
    margin: 5px 0px;
}

.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;

}

.loginsignup-fields input{
    height: 52px;
    width: 100%;
    padding-left: 20px;
    border: 2px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;

}

.loginsignup-container button{
    width: 400px;
    height: 52px;
 
    background-color: #ff4141;
    color: white;
    margin-top: 15px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 20px;
}

.loginsignup-login{
    margin-top: 15px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;

}

.loginsignup-login span{
    color: #ff4141;
    font-weight: 600;

}

.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}