.newCollections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
    margin-top: 100px;

}



.newCollections h1{
    color: #181818;
    font-size: 50px;
    font-weight: 600;
    align-self: center; /* Center the heading */
    margin: auto; /* Center the heading */
    
  
}

.newCollections hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background-color: #252525;
}

.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 20px;
    margin-top: 50px;
    gap: 30px;
    margin: 60px auto;
}